services:
  - type: web
    name: ilms-api
    runtime: python
    region: singapore
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /health
    envVars:
      - key: DATABASE_URL
        value: postgresql+psycopg://postgres:Aquapurite2026@db.ywiurorfxrjvftcnenyk.supabase.co:6543/postgres
      - key: SECRET_KEY
        value: BxjvQKVUCLFVjJKVfeNTRjpDCNkvqwiHpPqBMlFiips
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 60
      - key: REFRESH_TOKEN_EXPIRE_DAYS
        value: 7
      - key: ENVIRONMENT
        value: production
      - key: DEBUG
        value: False
      - key: ALLOWED_ORIGINS
        value: "*"
